@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@media only screen and (max-width : 600px) {
  /* mobil */
  .product-card{
    display: block;
  }
}
@media only screen and (min-width : 601px) {
  /* destok */
  .product-card{
    display: flex;
  }
}
.product-card {
  background: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: #dbe2ee 0 0 20px 5px;
  gap: 30px;
  color: #191847;
}

.cover-image {
  width: 600px;
  height: 600px;
  overflow: hidden;
}
img:hover {
  transform: scale(1.05);
}
.more-image-container {
  display: flex;
}
.more-image {
  width: 100px;
}
.image-container img {
  width: 100%;
  object-fit: cover;
}

.free-shipping {
  display: block;
  background: #191847;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.product-name {
  margin: 10px 0 20px 0;
  font-size: 22px;
}

.regular-price {
  text-decoration: line-through;
}

.discount-price {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
}

.offer-info {
  font-size: 14px;
  color: gray;
}

.add-to-cart {
  display: inline-block;
  width: 100%;
  background: #191847;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  box-shadow: #e2e9f3 0 5px;
  margin: 20px 0;
  position: absolute;
  bottom: 0;
}
.add-to-cart ion-icon {
  font-size: 30px;
  margin-bottom: -8px;
}
.add-to-cart:hover {
  background: #e2e9f3;
  box-shadow: #191847 0 5px;
  color: #191847;
}
.add-to-cart:hover ion-icon {
  transform: rotate(360deg);
}

.stock {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stock-status {
  width: 14px;
  height: 14px;
  background: #00d98b;
  border-radius: 50%;
}
.stock-info {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 200px;
  color: #191847;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  border: solid #dfe6f0 2px;
  border-radius: 10px;
}
.button ion-icon {
  font-size: 30px;
  margin-bottom: -7px;
}
.button:hover {
  box-shadow: #e2e9f3 0 0 10px;
}
.button:hover ion-icon {
  transform: rotate(360deg);
}

.product-info-column {
  background: rgba(40, 40, 100, 0.25);
  position: relative;
}

.show-info-contact {
  display: inline-block;
  width: 100%;
  background: #191847;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  box-shadow: #e2e9f3 0 5px;
  margin: 20px 0;
}
.show-info-contact ion-icon {
  font-size: 30px;
  margin-bottom: -8px;
}
.show-info-contact:hover {
  background: #e2e9f3;
  box-shadow: #191847 0 5px;
  color: #191847;
}
.show-info-contact:hover ion-icon {
  transform: rotate(360deg);
}

.button-category {
  display: inline-block;
  background: #191847;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  text-align: center;
}

